#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textInput {
  height: 1.75rem;
  margin: 1.5rem;
  min-width: 450px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: bolder;
  padding: 5px 8px;
  border: 2px solid aliceblue;
}

.generateBtn {
  margin: 1rem auto;
  transition: all 0.5s ease-in-out;
}
.generateBtn:hover {
  background-color: #646cffaa;
  color: aliceblue;
}

.resImg {
  width: 50vw;
  height: auto;
  margin: 1rem;
}
